 {% extends "index.html" %}
 {% block section %}
<style>

    #main-container {
        max-width: 600px;
        margin: 20px auto;
        background-color: #ffffff;
        border: 1px solid #efefef;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a slight shadow */
    }

    #content-container{
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    select {
        margin-bottom: 10px;
    }

    table {
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;
    }

    td {
        padding: 10px;
    }

    .page-wrap {
        margin-top: 20px;
    }

    .page-nation {
        display: flex;
        justify-content: center;
    }

    .page-nation ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .page-nation a {
        padding: 5px 10px;
        text-decoration: none;
        color: black;
    }
</style>

<script>
    function showHeart() {
        $.ajax({
            type: 'GET',
            url: '/show_heart/{{name}}/',
            data: {},
            success: function (response)
            {
                let my_heart = response['my_heart'];
                if (my_heart['interested'] == 'Y')
                {
                    $("#heart").css("color","red");
                    $("#heart").attr("onclick","unlike()");
                }
                else{
                    $("#heart").css("color","grey");
                    $("#heart").attr("onclick","like()");
                }
                //alert("showheart!")
            }
        }); 
    }
    function like() {
        $.ajax({
            type: 'POST',
            url: '/like/{{name}}/',
            data: {
                interested : "Y"
            },
            success: function (response) {
                alert(response['msg']);
                window.location.reload()
            }
        });
    }
    function unlike() {
        $.ajax({
            type: 'POST',
            url: '/unlike/{{name}}/',
            data: {
                interested : "N"
            },
            success: function (response) {
                alert(response['msg']);
                window.location.reload()
            }
        });
    }
    $(document).ready(function () {
        showHeart();
    });
</script>

<div id="main-container">
    <div id="content-container">

        <br><br>
        <img src="../../static/images/{{data.img_path}}", width=140, height=200>
        <br>
        <i class="fa fa-heart" id="heart" ></i>
        {% if data['sold'] == False %}
            <button id="buy" onclick="location.href='/buy_item/{{name}}/';">
                구매하기
            </button>
        {% endif %}
        {% if data['sold'] == True %}
            <button id="soldout">
                Sold out!
            </button>
        {% endif %}
        <p>
            카테고리 > {{data.category}}
        </p>
        <br>
        <p>
            상품명: <b>{{name}}</b>
        </p>
        <p>
            상품상태: {{data.status}}
        </p>
        <div>
            판매자: <div onclick="location.href='/view_mypage_sell/{{data.seller}}/';" style="cursor:pointer;">{{data.seller}}</div>
        </div>
        <!--<p>
            For payment, the credit card is
            {% if data['card'] == "Y" %}
            accepted!
            {% endif %}
            {% if data['card'] == "N" %}
            NOT accepted!
            {% endif %}
        </p>
        -->
        <button onclick="location.href='/reg_review_init/{{name}}/';">
            리뷰등록
        </button>
     </div>
</div>
{% endblock %}