 {% extends "index.html" %}
 {% block section %}
<style>
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.ttf') format("truetype");
    font-display: swap;
}

    *{
        font-family: 'Pretendard';
    }
    #main-container {
        max-width: 750px;
        margin: 20px auto;
        background-color: #ffffff;
        border: 1px solid #efefef;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a slight shadow */
        display: flex;
    }

    #content-container {
        flex: 1; /* Take remaining space */
        padding-left: 20px; /* Add some space between image and content */
    }
    
    img {
        max-width: 100%; /* Make sure the image is responsive */
        height: auto;
    }

    select {
        margin-bottom: 10px;
    }
    
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    table {
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;
    }

    td {
        padding: 10px;
    }
    
    #heart, #buy, #soldout {
        margin-top: 10px; /* Add space between buttons */
        cursor: pointer;
        font-size: 35px; /* Adjust size as needed */
    }

    #buy {
        background-color: #FF5CAA;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
        padding: 10px;
    }

    #soldout {
        background-color: black;
        color: white;
        font-size: 15px;
        border: none;
        border-radius: 5px;
        cursor: not-allowed;
        padding: 10px;
    }

    .page-wrap {
        margin-top: 20px;
    }

    .page-nation {
        display: flex;
        justify-content: center;
    }

    .page-nation ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .page-nation a {
        padding: 5px 10px;
        text-decoration: none;
        color: black;
    }
    
    div span {
        margin-left: 5px;
    }
</style>

<script>
    function showHeart() {
        $.ajax({
            type: 'GET',
            url: '/show_heart/{{name}}/',
            data: {},
            success: function (response)
            {
                let my_heart = response['my_heart'];
                if (my_heart['interested'] == 'Y')
                {
                    $("#heart").css("color","red");
                    $("#heart").attr("onclick","unlike()");
                }
                else{
                    $("#heart").css("color","grey");
                    $("#heart").attr("onclick","like()");
                }
                //alert("showheart!")
            }
        }); 
    }
    function like() {
        $.ajax({
            type: 'POST',
            url: '/like/{{name}}/',
            data: {
                interested : "Y"
            },
            success: function (response) {
                alert(response['msg']);
                window.location.reload()
            }
        });
    }
    function unlike() {
        $.ajax({
            type: 'POST',
            url: '/unlike/{{name}}/',
            data: {
                interested : "N"
            },
            success: function (response) {
                alert(response['msg']);
                window.location.reload()
            }
        });
    }
    $(document).ready(function () {
        showHeart();
    });
</script>

<div id="main-container">
    <img src="../../static/images/{{data.img_path}}", width=400, height=400>
    <div id="content-container">
        <p>
            카테고리 > {{data.category}}
        </p>
        <div>
            판매자: <span onclick="location.href='/view_mypage_sell/{{data.seller}}/';" style="cursor:pointer;">{{data.seller}}</span>
        </div>
        <hr>
        <p>
            상품명: <b>{{name}}</b>
        </p>
        <p>
            상품상태: {{data.status}}
        </p>
        <p>
            판매가격: {{data.okprice}}
        </p>
        <p>
            거래선호장소: {{data.addr}}에서 거래해요!
        </p>
        <div class="buttons">
            <i class="fa fa-heart" id="heart" onclick="showHeart()"></i>
            {% if data['sold'] == False %}
                <button id="buy" onclick="location.href='/buy_item/{{name}}/';">
                    구매하기
                </button>
            {% endif %}
            {% if data['sold'] == True %}
                <button id="soldout" disabled>
                    Sold out!
                </button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}