 {% extends "index.html" %}
 {% block section %}
<style>

    #main-container {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a slight shadow */
    }

    #content-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    select {
        margin-bottom: 10px;
    }

    table {
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;
    }

    td {
        padding: 10px;
    }

    .page-wrap {
        margin-top: 20px;
    }

    .page-nation {
        display: flex;
        justify-content: center;
    }

    .page-nation ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .page-nation a {
        padding: 5px 10px;
        text-decoration: none;
        color: black;
    }
</style>

<script>
    function showHeart() {
        $.ajax({
            type: 'GET',
            url: '/show_heart/{{name}}/',
            data: {},
            success: function (response)
            {
                let my_heart = response['my_heart'];
                if (my_heart['interested'] == 'Y')
                {
                    $("#heart").css("color","red");
                    $("#heart").attr("onclick","unlike()");
                }
                else{
                    $("#heart").css("color","grey");
                    $("#heart").attr("onclick","like()");
                }
                //alert("showheart!")
            }
        }); 
    }
    function like() {
        $.ajax({
            type: 'POST',
            url: '/like/{{name}}/',
            data: {
                interested : "Y"
            },
            success: function (response) {
                alert(response['msg']);
                window.location.reload()
            }
        });
    }
    function unlike() {
        $.ajax({
            type: 'POST',
            url: '/unlike/{{name}}/',
            data: {
                interested : "N"
            },
            success: function (response) {
                alert(response['msg']);
                window.location.reload()
            }
        });
    }
    $(document).ready(function () {
        showHeart();
    });
</script>

<div id="main-container">
    <br><br>
    <img src="../../static/images/{{data.img_path}}", width=140, height=200>
    <br>
    <i class="fa fa-heart" id="heart" ></i>
    <button id="start-chat" onclick="location.href='/';">
        채팅하기
    </button>
    <p>
        카테고리 > {{data.category}}
    </p>
    <br>
    <p>
        상품명: <b>{{name}}</b>
    </p>
    <p>
        상품상태: {{data.status}}
    </p>
    <p>
        판매자: {{data.seller}}
    </p>
    <!--<p>
        For payment, the credit card is
        {% if data['card'] == "Y" %}
        accepted!
        {% endif %}
        {% if data['card'] == "N" %}
        NOT accepted!
        {% endif %}
    </p>
    -->
    <button onclick="location.href='/reg_review_init/{{name}}/';">
        리뷰등록
    </button>
</div>
{% endblock %}