<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://webfontworld.github.io/pretendard/Pretendard.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>    
</head>
<body style="background-color: #FFE1EC;">
    <nav class="navbar" style="background-color: #F44D99;">
        <div class="navbar__logo">
            <a href="/list" style="font-family: 'Pretendard'; font-size: 2.0rem">🙏 Giboo & Take </a>
        </div>
        <ul class="navbar__menu" style="align-items: center;">
            <li><a href="/list" style="font-family: 'Pretendard'; margin-right: 30px; text-decoration-line: none;">제품 피드🪽</a></li>
            <li><a href="/review" style="font-family: 'Pretendard'; margin-right: 30px; text-decoration-line: none;">리뷰 피드🪽</a></li>
            <li><a href="/reg_items" style="font-family: 'Pretendard'; margin-right: 30px; text-decoration-line: none;">제품 등록🪽</a></li>
            
            {% if session['id'] %}
            <li><a href="/view_mypage_like/{{session['id']}}" style="font-family: 'Pretendard'; text-decoration-line: none;"><b>{{session['id']}}님 반갑습니다!&nbsp;&nbsp;&nbsp;&nbsp;</b></a></li>
            <li><a href="/logout" style="font-family: 'Pretendard'; text-decoration-line: none;">Logout🪽</a></li>
            {% else %}
            <li><a href="/login" style="font-family: 'Pretendard'; text-decoration-line: none;">Login 🪽</a></li>
            {% endif %}
        
            
        </ul>
        
    </nav>
    <section>
        {% block section %}
        
        {% endblock section %}
    </section>
    </body>
</html>