{% extends "index.html" %}
{% block section %}
<style>

    #main-container {
        display: flex;
        flex-direction: column;
        max-width: 750px;
        margin: 20px auto;
        background-color: #ffffff;
        border: 1px solid #efefef;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a slight shadow */
    }

    #content-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
     #best-container {
        width: 700px;
        margin-left: 25px;
        display: flex;
        justify-content: space-evenly; /* space-evenly로 간격을 균등하게 배치합니다. */
        align-items: center;
        flex-wrap: wrap; /* Flex items가 넘치면 줄 바꿈되도록 설정합니다. */
    }
    
    #seller-info {
        text-align: center;
        margin-bottom: 20px;
    }

    h2 {
        font-size: x-large;
        text-align: center;
        color: #1E3269;
        margin-bottom: 20px;
    }
    
    #best {
    align-self: center;
    text-align: center;
    background-color: #1E3269; /* 배경색을 없앱니다. */
    color: white; /* 이전 배경색과 동일한 색상을 지정합니다. */
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #1E3269; /* 얇은 테두리를 추가합니다. */
    border-radius: 8px;
    width: 100px;
    }
    select {
        margin-bottom: 10px;
    }

    table {
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;
    }


    .page-wrap {
        margin-top: 20px;
    }

    .page-nation {
        display: flex;
        justify-content: center;
    }

    .page-nation ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .page-nation li {
        margin: 0 5px; /* 페이지 번호 간격 조절을 위한 좌우 마진 추가 */
    }

    .page-nation a {
        padding: 10px; /* 페이지 번호 버튼 내부 패딩 조절 */
        text-decoration: none;
        color: black;
        border: 1px solid #ddd;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    .page-nation a:hover {
        background-color: #f2f2f2; /* 호버 시 배경색 변경 */
    }
    
    .level-💙매우착해요 {
        background-color: #0000CD;
        color: white;
        padding: 5px;
        border-radius: 5px;
    }


    .level-✅합리적이에요 {
        background-color: #006400; 
        color: white;
        padding: 5px;
        border-radius: 5px;
    }

    .level-💔비싸요 {
        background-color: #FF7493; 
        color: white;
        padding: 5px;
        border-radius: 5px;
    }
    
    .ranking-table {
        width: 690px;
        margin-left: 29px;
        text-align: center;
    }

    .ranking-cell {
        text-decoration: underline;
        font-family: 'Pretendard';
        font-size: 14px;
        width: 33.33%; /* 각 셀이 동일한 너비를 차지하도록 설정 */
    }
</style>

<script>
    $(document).ready(function() {
        //alert("{{category}}");
        $('#category option:contains("{{category}}")').prop("selected",true);
    })
</script>

<div id="main-container">
    <div id="seller-info">
        <br><br>
        <h2>ㅣ 제품 피드 ㅣ</h2>
    </div>
    
    {% if total > 0 %}    
    <span id="best" width=30%;>Best 3 items</span>
        <div class="best-container" width=100% style="display:inline-flex">
            <table class="ranking-table">
                <tr>
                    <td class="ranking-cell"><b>1st</b></td>
                    <td class="ranking-cell"><b>2nd</b></td>
                    <td class="ranking-cell"><b>3rd</b></td>
                </tr>
            </table>
        </div>
    <br>
    <div id="best-container" style="display:inline-flex">
        {% for key, value in top_three_datas %}
        <div class="item-container" onclick="location.href='/view_detail/{{key}}/';">
            <div style="position: relative;">
                {% if value.sold == False %}
                    <img src="/static/images/{{value.img_path}}" width=210 height=210 style="border-radius: 8px;">
                {% else %}
                    <img src="/static/images/{{value.img_path}}" width=210 height=210 style="border-radius: 8px; filter:brightness(50%)">
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; font-weight: bold; font-size: medium;">
                        Sold Out!
                    </div>
                {% endif %}
            </div>
            <div class="item-info" style="margin-top: 10px; margin-bottom: 5px;"><b>{{value.category}}</b>&nbsp;|&nbsp;{{key}}</div>
            <span class="item-info">{{value.okprice}}원</span>
            <span class="item-info {{'level-' + value.level|lower}}" style="font-size: 12px;">{{value.level}}</span>
            
        </div>
        {% endfor %}
    </div>
    <br>
    <div>
        <hr>
    </div>
    
    <p style="align-self: flex-end;">총 {{total}}개의 상품</p>
    <select style="width: 100px; height: 25px;" id="category" name="category" onchange="location=this.value">
        <option value="{{url_for('view_list', page=i, category='all')}}">All</option>
        <option value="{{url_for('view_list', page=i, category='의류')}}"> 의류 </option>
        <option value="{{url_for('view_list', page=i, category='뷰티')}}"> 뷰티 </option>
        <option value="{{url_for('view_list', page=i, category='도서')}}"> 도서 </option>
        <option value="{{url_for('view_list', page=i, category='가구')}}"> 가구 </option>
        <option value="{{url_for('view_list', page=i, category='물품')}}"> 물품 </option>
        <option value="{{url_for('view_list', page=i, category='기타')}}"> 기타 </option>
    </select>
    
    <div id="content-container">    
        <table>
            {% for row in datas|batch(3) %}
            <tr>
                {% for key, value in row %}
                <td>
                    <div style="margin-left: 20px; margin-right: 20px; margin-bottom: 20px;" onclick="location.href='/view_detail/{{key}}/';">
                        <div style="position: relative;">
                            {% if value.sold == False %}
                                <img src="/static/images/{{value.img_path}}" width=210 height=210 style="border-radius: 8px;">
                            {% else %}
                                <img src="/static/images/{{value.img_path}}" width=210 height=210 style="border-radius: 8px; filter:brightness(50%)">
                                <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; font-weight: bold; font-size: medium;">
                                    Sold Out!
                                </div>
                            {% endif %}
                        </div>
                        <div class="item-info" style="font-size: small; margin-top: 10px; margin-bottom: 5px;"><b>{{value.category}}</b>&nbsp;|&nbsp;{{key}}</div>
                        <span class="item-info" style="font-size: small">{{value.okprice}}원</span>
                        <span class="item-info {{'level-' + value.level|lower}}" style="font-size: 12px;">{{value.level}}</span>
                    </div>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <!-- 페이지네이션을 위한 코드 시작 -->
    <div class="page-wrap">
        <div class="page-nation">
            <ul>
                <li>
                    {% for i in range(page_count) %}
                    <a href="{{url_for('view_list', page=i)}}" color="black">{{i+1}}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
    {% else %}
    <p>등록된 상품이 없습니다.</p>
    {% endif %}
    </div>
{% endblock %}