 {% extends "index.html" %}
 {% block section %}
<style>
    body {
        font-family: 'Pretendard', sans-serif;
    }

 
    #main-container {
        display: flex;
        flex-direction: column;
        max-width: 750px;
        margin: 20px auto;
        background-color: #ffffff;
        border: 1px solid #efefef;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a slight shadow */
    }

    #content-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #seller-info {
        text-align: center;
        margin-bottom: 20px;
    }

    h2 {
        font-size: x-large;
        text-align: center;
        color: #1E3269;
        margin-bottom: 20px;
    }

    select {
        margin-bottom: 10px;
    }

    table {
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;
    }

    #buttons {
        display: flex;
        justify-content: center;
        margin-top: 20px; /* 버튼 간격 조절을 위한 상단 마진 추가 */
    }

    #buttons button {
        padding: 10px 20px; /* 버튼 내부 패딩 설정 */
        margin: 0 10px; /* 버튼 간격 조절을 위한 좌우 마진 추가 */
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        background-color: #1E3269;
        color: white;
        transition: background-color 0.3s; /* 호버 효과를 위한 전환 효과 추가 */
    }

    #buttons button:hover {
        background-color: #305490; /* 호버 시 배경색 변경 */
    }

</style>


<div id="main-container">
    <div id="seller-info">
        <br><br>
        <h2>{{name}}님의 판매 상품 </h2>
        <div id="buttons" style="display:flex;">
            <button onclick="location.href='/view_mypage_sell/{{name}}/';" style="cursor:pointer;">
                Market   
            </button>
            <button onclick="location.href='/view_mypage_review/{{name}}/';" style="cursor:pointer;">
                Review
            </button>
        </div>
    </div>
    {% if total > 0 %}
    <p style="align-self: flex-end;">총 {{total}}개 상품 등록</p>
    <div id="content-container">
        <table>
        {% for row in datas|batch(3) %}
        <tr>
            {% for key, value in row %}
            <td>
                    <div onclick="location.href='/view_detail/{{key}}/';">
                        <div style="position: relative;">
                            {% if value.sold == False %}
                                <img src="/static/images/{{value.img_path}}" width=200 height=200 style="border-radius: 8px;">
                            {% else %}
                                <img src="/static/images/{{value.img_path}}" width=200 height=200 style="border-radius: 8px; filter:brightness(50%)">
                                <div style="position: absolute; top: 50%; left: 40%; transform: translate(-50%, -50%); color: white; font-weight: bold; font-size: medium;">
                                    Sold Out!
                                </div>
                            {% endif %}
                        </div>
                        <p class="item-info" style="font-size: small"><b>{{value.category}}</b>&nbsp;|&nbsp;{{key}}</p>
                        <p class="item-info" style="font-size: small">{{value.okprice}}원</p>
                        <p class="item-info" style="font-size: small">{{value.level}}</p>
                    </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </div>
   <!-- 페이지네이션을 위한 코드 시작 -->

    {% else %}
    <p>등록된 상품이 없습니다.</p>
    {% endif %}
</div>
{% endblock %}