 {% extends "index.html" %}
 {% block section %}
<style>

    #main-container {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: 20px auto;
        background-color: #ffffff;
        border: 1px solid #efefef;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a slight shadow */
    }
    
    #seller-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #content-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    select {
        margin-bottom: 10px;
    }

    table {
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;
    }



</style>

<div id="main-container">
    <div id="seller-info">
        <p style="font-size: 20px">
            [ {{name}} ]의 마켓 
        </p>
        <div id="buttons" style="display:flex;">
            <button onclick="location.href='/view_mypage_sell/{{name}}/';" style="cursor:pointer;">
                Market   
            </button>
            <button onclick="location.href='/view_mypage_review/{{name}}/';" style="cursor:pointer;">
                Review
            </button>
        </div>
    </div>
    <div>
        <hr>
    </div>
    {% if total > 0 %}
    <p style="align-self: flex-end;">총 {{total}}개 상품 등록</p>
    <div id="content-container">
        <table>
        {% for row in datas|batch(3) %}
        <tr>
            {% for key, value in row %}
            <td>
                <div onclick="location.href='/view_detail/{{key}}/';" style="cursor:pointer;">
                    <p>상품이름: {{key}}</p>
                    <img src="/static/images/{{value.img_path}}" width=200 height=200>
                </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </div>
   <!-- 페이지네이션을 위한 코드 시작 -->

    {% else %}
    <p>등록된 상품이 없습니다.</p>
    {% endif %}
</div>
{% endblock %}