{% extends "index.html" %}
{% block section %}
<style>
    body {
        font-family: 'Pretendard', sans-serif;
    }
    #main-container {
        display: flex;
        flex-direction: column;
        max-width: 750px;
        margin: 20px auto;
        background-color: #ffffff;
        border: 1px solid #efefef;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a slight shadow */
    }

    #content-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #seller-info {
        text-align: center;
        margin-bottom: 20px;
    }

    h2 {
        font-size: x-large;
        text-align: center;
        color: #006400;
        margin-bottom: 20px;
    }

    select {
        margin-bottom: 10px;
    }

    table {
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;
    }
    
    .level-💙매우착해요 {
        background-color: #46649B;
        color: white;
        padding: 5px;
        border-radius: 5px;
    }
    
    .level-✅합리적이에요 {
        background-color: #719E71; 
        color: white;
        padding: 5px;
        border-radius: 5px;
    }

    .level-💔비싸요 {
        background-color: #DC6089; 
        color: white;
        padding: 5px;
        border-radius: 5px;
    }

</style>

<div id="main-container">
    <div id="seller-info">
        <br><br>
        <h2>{{session['id']}}님이 좋아요❤️ 상품</h2>
    </div>
    <hr>
    {% if total > 0 %}
        <p style="align-self: flex-end;">총 {{total}}개의 좋아요한 상품</p>
    <div id="content-container">
            <table>
                {% for row in datas|batch(3) %}
                <tr>
                    {% for key, value in row %}
                    <td>
                        <div style="margin-left: 20px; margin-right: 20px; margin-bottom: 20px;" onclick="location.href='/view_detail/{{key}}/';">
                            <img src="/static/images/{{value.img_path}}" width=210 height=210 style="border-radius: 8px;">
                            <div class="item-info" style="font-size: small; margin-top: 10px; margin-bottom: 5px;"><b>{{value.category}}</b>&nbsp;|&nbsp;{{key}}</div>
                            <span class="item-info" style="font-size: small">{{value.okprice}}원</span>
                            <span class="item-info {{'level-' + value.level|lower}}" style="font-size: 12px;">{{value.level}}</span>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p class="no-items">좋아요한 아이템이 없습니다.</p>
    {% endif %}
</div>
{% endblock %}