{% extends "index.html" %}
{% block section %}
<style>
    body {
        font-family: 'Pretendard', sans-serif;
        background-color: white;
        margin: 0;
        padding: 0;
    }

    #main-container {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: 20px auto;
        background-color: #ffffff;
        border: 1px solid #efefef;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h2 {
        font-size: x-large;
        text-align: center;
        color: #1E3269;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    p {
        margin-bottom: 10px;
        font-size: medium;
        color: #1E3269;
    }

    input[type="text"],
    input[type="file"],
    select {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .checkbox-label {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    #image-preview {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
        border-radius: 4px;
    }

    .submitBtn {
        width: 150px;
        height: 35px;
        background: #1E3269;
        color: white;
        font-size: 15px;
        border-radius: 8px;
        border-style: none;
        font-family: "Pretendard";
        cursor: pointer;
        margin: 0 auto;
        display: block;
    }

    .submitBtn:hover {
        background: #305490;
    }
</style>

<div id="main-container">
    <h2>리뷰 등록</h2>
    <form class="mb-3" name="myform" id="myform" method="post" action="/reg_review" enctype="multipart/form-data">
        <p for="name">상품명:</p>
        <input type="text" name="name" id="name" value="{{name}}" required>

        <p for="title">제목:</p>
        <input type="text" name="title" id="title" required>

        <p>별점을 선택해주세요:</p>
        <div style="float:left">
            <fieldset>
                <input type="radio" name="reviewStar" value="5" id="rate1"><label for="rate1">★</label>
                <input type="radio" name="reviewStar" value="4" id="rate2"><label for="rate2">★</label>
                <input type="radio" name="reviewStar" value="3" id="rate3"><label for="rate3">★</label>
                <input type="radio" name="reviewStar" value="2" id="rate4"><label for="rate4">★</label>
                <input type="radio" name="reviewStar" value="1" id="rate5"><label for="rate5">★</label>
            </fieldset>
        </div>
        
        <p>상세 리뷰:</p>
        <textarea style="width: 500px;" class="col-auto form-control" type="text" name="reviewContents" placeholder="리뷰를 남겨주세요." required></textarea>

        <p>이미지를 업로드 해주세요:</p>
        <input type="file" name="file" onchange="showImagePreview(this)" required><br><br>
        
        <img id="image-preview">

        <input type="submit" value="리뷰 등록하기" style="margin-left: 230px" class="submitBtn">
    </form>
</div>

<script>
    function showImagePreview(input) {
        var fileInput = input;
        var preview = document.getElementById('image-preview');

        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block'; // 이미지 미리보기 표시
            };

            reader.readAsDataURL(fileInput.files[0]);
        } else {
            preview.src = '';
            preview.style.display = 'none'; // 파일이 선택되지 않으면 이미지 미리보기 숨김
        }
    }
</script>
{% endblock %}