{% extends "index.html" %}
{% block section %}
<style>
    body {
        font-family: 'Pretendard', sans-serif;
        background-color: #FFEFD5;
        margin: 0;
        padding: 0;
    }

    #main-container {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: 20px auto;
        background-color: #ffffff;
        border: 1px solid #efefef;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h2 {
        font-size: x-large;
        text-align: center;
        color: #1E3269;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 10px;
        font-size: medium;
        color: #1E3269;
    }

    input[type="text"],
    input[type="password"],
    input[type="file"],
    select {
        width: calc(100% - 20px); /* 여백을 포함한 최대 너비 */
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .checkbox-label {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    #recommand-container {
        display: none;
        align-items: center;
    }

    #recommand {
        margin-right: 10px;
        color: #1E3269;
        font-size: small;
    }

    #okprice {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 20px;
    }

    #image-preview {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
        border-radius: 4px;
    }

    .submitBtn {
        width: 150px;
        height: 35px;
        background: #1E3269;
        color: white;
        font-size: 15px;
        border-radius: 8px;
        border-style: none;
        font-family: "Pretendard";
        cursor: pointer;
        margin: 0 auto; /* 가운데 정렬을 위해 추가한 부분 */
        display: block; /* 가운데 정렬을 위해 추가한 부분 */
    }

    .submitBtn:hover {
        background: #305490;
    }
</style>

<div id="main-container">
    <h2>상품 등록</h2>
    <form action="/submit_item_post" method="post" enctype="multipart/form-data">
        <label for="name">상품명:</label>
        <input type="text" name="name" id="name" required>

        <label for="seller">판매자 ID:</label>
        <input type="text" name="seller" id="seller" required>

        <label for="addr">거래희망장소:</label>
        <input type="text" name="addr" id="addr" required>

        <label for="price">구매가격:</label>
        <input type="text" name="price" id="price" required>

        <label for="category">카테고리:</label>
        <select id="category" name="category">
            <option value="의류" selected>의류</option>
            <option value="뷰티">뷰티</option>
            <option value="도서">도서</option>
            <option value="가구">가구</option>
            <option value="물품">물품</option>
            <option value="기타">기타</option>
        </select>

        <label for="time">구매시기:</label>
        <select id="time" name="time">
            <option value="1개월 이내" selected>1개월 이내</option>
            <option value="3개월 이내">3개월 이내</option>
            <option value="6개월 이내">6개월 이내</option>
            <option value="12개월 이내">12개월 이내</option>
        </select>

        <label for="status">사용횟수:</label>
        <select id="status" name="status">
            <option value="미사용" selected>미사용</option>
            <option value="1-5회">1-5회</option>
            <option value="5회 초과">5회 초과</option>
        </select>

        <div class="checkbox-label" id="recommand-container">
            <div id="recommand"></div>
            <label for="sellWithRecommand">추천 판매가로 판매하기</label>
            <input type="checkbox" id="sellWithRecommand">
        </div>

        <label for="okprice">최종 판매가:</label>
        <input type="text" name="okprice" id="okprice">
        <input type="hidden" name="okprice" id="okprice-hidden" value="">
        <input type="hidden" name="level" id="level">
        <input type="button" onclick="calculateLevel()" value="가격 결정하기">
        
        <label for="img">이미지를 업로드 해주세요:</label>
        <input type="file" name="file" onchange="showImagePreview(this)">
        <img id="image-preview">

        <input class="submitBtn" type="submit" value="상품 등록하기">
    </form>
</div>

<script>
    var priceInput = document.getElementById("price");
    var statusSelect = document.getElementById("status");
    var timeSelect = document.getElementById("time");
    var sellWithRecommandCheckbox = document.getElementById("sellWithRecommand");
    var recommandPrice = document.getElementById("recommand");
    var okPriceInput = document.getElementById("okprice");
    var okPriceHiddenInput = document.getElementById("okprice-hidden");

    function calculateRecommandPrice() {
        var selectedStatus = statusSelect.value;
        var selectedTime = timeSelect.value;

        var statusWeight = 1.0;
        if (selectedStatus === "미사용") {
            statusWeight = 0.95;
        } else if (selectedStatus === "1-5회") {
            statusWeight = 0.8;
        } else if (selectedStatus === "5회 초과") {
            statusWeight = 0.6;
        }

        var timeWeight = 1.0;
        if (selectedTime === "1개월 이내") {
            timeWeight = 0.9;
        } else if (selectedTime === "3개월 이내") {
            timeWeight = 0.8;
        } else if (selectedTime === "6개월 이내") {
            timeWeight = 0.7;
        } else if (selectedTime === "12개월 이내") {
            timeWeight = 0.5;
        }

        var calculatedPrice = parseInt(priceInput.value) * statusWeight * timeWeight;
        var recommandText = "추천 판매가: " + calculatedPrice.toFixed(0) + " 원";
        recommandPrice.textContent = recommandText;
        
        if (sellWithRecommandCheckbox.checked) {
            okPriceInput.value = calculatedPrice.toFixed(0);
            document.getElementById("okprice").value = calculatedPrice.toFixed(0);
        } 

        document.getElementById("recommand-container").style.display = "flex";
        
        return calculatedPrice;
    }

    function toggleRecommandPrice() {
        calculateRecommandPrice();
    }
    
    function calculateLevel() {
        
        var okPrice = parseFloat(okPriceInput.value);
        var recPrice = calculateRecommandPrice();
        var weight = (recPrice - parseFloat(priceInput.value)) * 0.25;
        var levelInput = document.getElementById("level");

        
        if(okPrice<recPrice){
            levelInput.value = "매우착해요";
        } else if(okPrice == recPrice){
            levelInput.value = "합리적이에요";
        } else {
            levelInput.value = "비싸요";
        }
    }
    
    function showImagePreview(input) {
        var fileInput = input;
        var preview = document.getElementById('image-preview');

        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block'; // 이미지 미리보기 표시
            };

            reader.readAsDataURL(fileInput.files[0]);
        } else {
            preview.src = '';
            preview.style.display = 'none'; // 파일이 선택되지 않으면 이미지 미리보기 숨김
        }
    }

    priceInput.addEventListener("input", calculateRecommandPrice);
    statusSelect.addEventListener("change", calculateRecommandPrice);
    timeSelect.addEventListener("change", calculateRecommandPrice);
    sellWithRecommandCheckbox.addEventListener("change", toggleRecommandPrice);
</script>
{% endblock section %}