{% extends "index.html" %}
{% block section %}
<style>
    #main-container {
        max-width: 600px;
        margin: 20px auto;
        background-color: #ffffff;
        border: 1px solid #efefef;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a slight shadow */
    }

    #content-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #recommand-container {
        display: none;
        align-items: center;
    }

    #recommand {
        margin-right: 10px;
    }
</style>
<div id="main-container">
    <form action="/submit_item_post" method="post" enctype="multipart/form-data">
        <div><br><br>
            <label for="name"> 상품명 : </label>
            <input type="text" name="name" id="name" required><br><br>
        </div>
        <div>
            <label for="seller"> 판매자 ID : </label>
            <input type="text" name="seller" id="seller" required><br><br>
        </div>
        <div>
            <label for="addr"> 거래희망장소 : </label>
            <input type="text" name="addr" id="addr" required><br><br>
        </div>
        <div>
            <label for="price"> 구매가격 : </label>
            <input type="text" name="price" id="price" required><br><br>
        </div>
        <div>
            <label for="category">카테고리 : </label>
            <br>
            <select id="category" name="category">
                <option value="의류" selected> 의류 </option>
                <option value="뷰티"> 뷰티 </option>
                <option value="도서"> 도서 </option>
                <option value="가구"> 가구 </option>
                <option value="물품"> 물품 </option>
                <option value="기타"> 기타 </option>
            </select><br><br>
        </div>
        <div>
            <label for="time"> 구매시기 : </label>
            <br>
            <select id="time" name="time">
                <option value="1개월 이내" selected>1개월 이내</option>
                <option value="3개월 이내">3개월 이내</option>
                <option value="6개월 이내">6개월 이내</option>
                <option value="12개월 이내">12개월 이내</option>
            </select><br><br>
        </div>
        <div>
            <label for="status"> 사용횟수 : </label>
            <br>
            <select id="status" name="status">
                <option value="미사용" selected>미사용</option>
                <option value="1-5회">1-5회</option>
                <option value="5회 초과">5회 초과</option>
            </select><br><br>
        </div>
        <div id="recommand-container">
            <div id="recommand"></div>
            <label for="sellWithRecommand">추천 판매가로 판매하기</label>
            <input type="checkbox" id="sellWithRecommand">
        </div>
        
        <!--recprice추가-->
        <div>
            <label for="recprice"></label>
            <input type="text" name="recprice" id="recprice" readonly><br><br>
            <input type="hidden" name="recprice" id="recprice-hidden" value="" readonly>
        </div>
        
        <div>
            <label for="okprice">최종 판매가 : </label>
            <input type="text" name="okprice" id="okprice"><br><br>
            <input type="hidden" name="okprice" id="okprice-hidden" value="">
        </div>

        <div>
            <label for="img">대표이미지를 업로드 해주세요 : </label>
            <input type="file" name="file"><br><br>
        </div>
        <input type="submit" value="상품 등록하기"><br><br>
    </form>
</div>

<script>
    var priceInput = document.getElementById("price");
    var statusSelect = document.getElementById("status");
    var timeSelect = document.getElementById("time");
    var sellWithRecommandCheckbox = document.getElementById("sellWithRecommand");
    var recommandPrice = document.getElementById("recommand");
    var okPriceInput = document.getElementById("okprice");
    var okPriceHiddenInput = document.getElementById("okprice-hidden");
    
    var recPriceInput = document.getElementById("recprice"); // 추가된 부분
    var recPriceHiddenInput = document.getElementById("recprice-hidden"); // 추가된 부분

    function calculateRecommandPrice() {
        var selectedStatus = statusSelect.value;
        var selectedTime = timeSelect.value;

        var statusWeight = 1.0;
        if (selectedStatus === "미사용") {
            statusWeight = 0.95;
        } else if (selectedStatus === "1-5회") {
            statusWeight = 0.8;
        } else if (selectedStatus === "5회 초과") {
            statusWeight = 0.6;
        }

        var timeWeight = 1.0;
        if (selectedTime === "1개월 이내") {
            timeWeight = 0.9;
        } else if (selectedTime === "3개월 이내") {
            timeWeight = 0.8;
        } else if (selectedTime === "6개월 이내") {
            timeWeight = 0.7;
        } else if (selectedTime === "12개월 이내") {
            timeWeight = 0.5;
        }

        var calculatedPrice = parseInt(priceInput.value) * statusWeight * timeWeight;
        var recommandText = "추천 판매가: " + calculatedPrice.toFixed(0) + " 원";
        recommandPrice.textContent = recommandText;
        
        recPriceInput.value = calculatedPrice.toFixed(0); // 추가된 부분
        recPriceHiddenInput.value = calculatedPrice.toFixed(0); // 추가된 부분
        
        if (sellWithRecommandCheckbox.checked) {
            okPriceInput.value = calculatedPrice.toFixed(0);
            document.getElementById("okprice").value = calculatedPrice.toFixed(0);
        } else {
            okPriceInput.value = "";
            okPriceHiddenInput.value = "";
        }

        document.getElementById("recommand-container").style.display = "flex";
    }

    function toggleRecommandPrice() {
        calculateRecommandPrice();
    }

    priceInput.addEventListener("input", calculateRecommandPrice);
    statusSelect.addEventListener("change", calculateRecommandPrice);
    timeSelect.addEventListener("change", calculateRecommandPrice);
    sellWithRecommandCheckbox.addEventListener("change", toggleRecommandPrice);
</script>
{% endblock section %}
