 {% extends "index.html" %}
 {% block section %}
<style>
    .wrapper {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        max-width: 750px;
        margin: 20px auto;
        background-color: #ffffff;
        border: 1px solid #efefef;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a slight shadow */
    }
    
    h2 {
        font-size: x-large;
        text-align: center;
        color: #1E3269;
        margin-bottom: 20px;
    }
    
    #main-container{
        width: 700px;
        display: flex;
        flex-direction: row;
    }
    
    #content-container{
        width: 250px;
        margin: auto;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: space-around;
    }

</style>

<script>
    function showHeart() {
        $.ajax({
            type: 'GET',
            url: '/show_heart/{{name}}/',
            data: {},
            success: function (response)
            {
                let my_heart = response['my_heart'];
                if (my_heart['interested'] == 'Y')
                {
                    $("#heart").css("color","red");
                    $("#heart").attr("onclick","unlike()");
                }
                else{
                    $("#heart").css("color","grey");
                    $("#heart").attr("onclick","like()");
                }
                //alert("showheart!")
            }
        }); 
    }
    function like() {
        $.ajax({
            type: 'POST',
            url: '/like/{{name}}/',
            data: {
                interested : "Y"
            },
            success: function (response) {
                alert(response['msg']);
                window.location.reload()
            }
        });
    }
    function unlike() {
        $.ajax({
            type: 'POST',
            url: '/unlike/{{name}}/',
            data: {
                interested : "N"
            },
            success: function (response) {
                alert(response['msg']);
                window.location.reload()
            }
        });
    }
    $(document).ready(function () {
        showHeart();
    });
</script>
<div class="wrapper">
    
<br><br>
<h2>ㅣ 리뷰 상세 ㅣ</h2>
    <br>
<div id="main-container">
    
    <img src="../../static/images/{{data.img_path}}", width=300, height=300>
    
    <div id="content-container">
        <h3>
            ㅣ 리뷰 제목
        </h3>
        <span>{{data.title}}</span>
         <h3>
            ㅣ 제품 평점
        </h3>
        <span>{{data.rate}}/5</span>
         <h3>
            ㅣ 제품 리뷰
        </h3>
        <span>{{data.review}}</span>
        <br>
        
     </div>
    
</div>
    <br>
</div>
{% endblock %}