{% extends "index.html" %}
{% block section %}

{% if total > 0 %}
<style>

    #main-container {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: 20px auto;
        background-color: #ffffff;
        border: 1px solid #efefef;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a slight shadow */
    }

    #content-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    select {
        margin-bottom: 10px;
    }

    table {
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;
    }

    .page-wrap {
        margin-top: 20px;
    }

    .page-nation {
        display: flex;
        justify-content: center;
    }

    .page-nation ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .page-nation a {
        padding: 5px 10px;
        text-decoration: none;
        color: black;
    }
</style>

<div id="main-container">

<p style="align-self: flex-end;">
    총 {{total}}개의 리뷰
</p>
    <div id="content-container">
        <table>
            <tr>
                {% for key, value in row1 %}
                <td>제목: {{value.title}}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for key, value in row1 %}
                <td onclick="location.href='/view_review_detail/{{key}}/';" style="cursor:pointer;"><img src="static/images/{{value.img_path}}", width=200, height=200></td>
                {% endfor %}
            </tr>
            <tr>
                {% for key, value in row2 %}
                <td>제목: {{value.title}}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for key, value in row2 %}
                <td onclick="location.href='/view_review_detail/{{key}}/';" style="cursor:pointer;"><img src="static/images/{{value.img_path}}", width=200, height=200></td>
                {% endfor %}
            </tr>
        </table>
    </div>
        <div class="page-wrap">
            <div class="page-nation">
                <ul>
                    <li>
                        {% for i in range(page_count)%}
                        <a href="{{url_for('view_review', page=i)}}" color="black">{{i+1}}</a>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
        {% else %}
        <p>
            등록된 리뷰가 없습니다.
        </p>

</div>

{% endif %}
{% endblock %}