{% extends "index.html" %}
{% block section %}

<style>
    body {
        font-family: 'Pretendard', sans-serif;
    }

 
    #main-container {
        display: flex;
        flex-direction: column;
        max-width: 750px;
        margin: 20px auto;
        background-color: #ffffff;
        border: 1px solid #efefef;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a slight shadow */
    }

    #content-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #seller-info {
        text-align: center;
        margin-bottom: 20px;
    }

    h2 {
        font-size: x-large;
        text-align: center;
        color: #1E3269;
        margin-bottom: 20px;
    }

    select {
        margin-bottom: 10px;
    }

    table {
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;
    }

   
    .page-wrap {
        margin-top: 20px;
    }

    .page-nation {
        display: flex;
        justify-content: center;
    }

    .page-nation ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .page-nation li {
        margin: 0 5px; /* 페이지 번호 간격 조절을 위한 좌우 마진 추가 */
    }

    .page-nation a {
        padding: 10px; /* 페이지 번호 버튼 내부 패딩 조절 */
        text-decoration: none;
        color: black;
        border: 1px solid #ddd;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    .page-nation a:hover {
        background-color: #f2f2f2; /* 호버 시 배경색 변경 */
    }
</style>

<div id="main-container">
    <div id="seller-info">
        <br><br>
        <h2>리뷰 피드</h2>
    </div>
    <hr>
    {% if total > 0 %}
    <p style="align-self: flex-end;">총 {{total}}개의 상품</p>
    <div id="content-container">
        <table>
        {% for row in datas|batch(3) %}
        <tr>
            {% for key, value in row %}
            <td>
                <!--한 아이템 감싸는 div에다가 마진 오/왼 주고 아이템 이미지는 210x210-->
                <div style="margin-left: 20px; margin-right: 20px;" onclick="location.href='/view_review_detail/{{key}}/';">
                    <img src="/static/images/{{value.img_path}}" width=210 height=210 style="border-radius: 8px;">
                    <p class="item-info" style="font-size: small"><b>{{key}}</b>&nbsp;|&nbsp;{{value.title}}</p>
                    <p class="item-info" style="font-size: small; font-color:#828282">★&nbsp;{{value.rate}}.0</p>
                    <p class="item-info" style="font-size: small">{{value.level}}</p>
                </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </div>
    <!-- 페이지네이션을 위한 코드 시작 -->
    <div class="page-wrap">
        <div class="page-nation">
            <ul>
                <li>
                    {% for i in range(page_count) %}
                    <a href="{{url_for('view_review', page=i)}}" color="black">{{i+1}}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
    
    {% else %}
    <p>등록된 리뷰가 없습니다.</p>
    {% endif %}
</div>
{% endblock %}