 {% extends "index.html" %}
 {% block section %}
<style>

    #main-container {
        max-width: 600px;
        margin: 20px auto;
        background-color: #ffffff;
        border: 1px solid #efefef;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a slight shadow */
    }

    #content-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div id="main-container">
 {% with mesg = get_flashed_messages() %}
 {% if mesg !=[] %}
    <script>alert("{{mesg[0]}}")</script>
 {% endif %}
 {% endwith %}
    <form method="post" action="/signup_post">
        <p>ID: <input type="text" name="id" required></p>
        <p>Password: <input type="password" name="pw" required></p>
        <input type="submit" value="가입"/>
    </form>
</div>
 {% endblock %}